*
{
    margin: 0px;
    padding: 0px;
}
header,section,footer,aside,nav,article,hgroup
{
    display: block;
}
body
{
    display: center;
    width: 100%;
}
@font-face
{
    font-family: "montserrat";
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}
.container
{
    width: 80%;
}
.nav>li>a:hover, .nav>li>a:focus
{
    background-color: transparent;
}
.navbar-brand a
{
    color: black;
    font: bold 30px montserrat;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-brand a:hover
{
    text-decoration: underline;
}
.navbar-right
{
    color: black;
    padding-top: 10px;
}
.navbar-right li
{
    list-style-type: none;
    text-transform: uppercase;
}
.navbar-right li a
{
    color: black;
    font: bold 20px montserrat;
    text-decoration: none;
}
.navbar-right li a:hover
{
    text-decoration: underline;
}
.navbar-toggle
{
    margin: 0px;
    padding-top: 25px;
}
.navbar-toggle .icon-bar
{
    background-color: black;
    border-radius: 2px;
    padding-top: 4px;
}
.fixed
{
    background-color: white;
    border-bottom: 1px black solid;
    padding-bottom: 10px;
    width: 100%;
}
#header_image
{
    background-image: url(../images/header_image.jpg);
    background-size: cover;
    height: 100%;
    position: relative;
    transition: 0.5s;
}
.header_body
{
    display: inline;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    z-index: 0;
}
.outline
{
    background-color: rgba(0, 0, 0, 0.0);
    padding-left: 10px;
    padding-right: 10px;
}
#header_text
{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: inline-block;
    font-family: "montserrat", arial;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}
#double_down_arrow img
{
    height: 60px;
    position: relative;
    top: 50px;
    width: 60px;
}
.wrapper_white
{
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}
.content_wrapper
{
    margin: auto;
    width: 75%;
}
.content
{
    margin: auto;
    width: 680px;
}
.left_column_pic
{
    display: inline-block;
}
.right_column_words
{
    display: inline-block;
    float: right;
    padding: 0px 0px 50px 0px;
    vertical-align: top;
    width: 430px;
}
.heading-headline
{
    font: bold 30px montserrat;
}
.body_text
{
    font: 20px montserrat;
}
.body_text_center_bold
{
    font: bold 20px montserrat;
    margin-top: auto;
    text-align: center;
}
.body_text_center
{
    font: 20px montserrat;
    margin-top: auto;
    text-align: center;
}
.link_body
{
    font: 20px montserrat;
    text-decoration: none;
}
.link_body:hover
{
    text-decoration: underline;
}
.wrapper_grey
{
    background-color: rgba(214, 214, 214, 1.0);
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
}
.middle_column_words
{
    padding: 10px 0px 20px 0px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img
{
    margin: auto;
    padding-bottom: 20px;
}
.left_column_words
{
    display: inline-block;
    margin-top: 10px;
    width: 475px;
}
.right_column_pic
{
    display: inline-block;
    float: right;
    width: 170px;
}
.footer_style
{
    background-color: rgba(214, 214, 214, 1.0);
    display: inline-block;
    text-align: center;
    width: 100%;
}
#footer_body
{
    padding-top: 20px;
}
#footer_body li
{
    display: inline-block;
}
#footer_body li a
{
    color: black;
    font: bold 20px montserrat;
    text-decoration: none;
    text-transform: uppercase;
}
#footer_body li a:hover
{
    text-decoration: underline;
}
#footer_logo
{
    padding: 5px 10px 0 0;
}
.signature
{
    font: 10px montserrat;
}
@media screen and (max-width: 900px)
{
    .container
    {
        max-width: 100%;
    }
    .navbar-collapse.collapse
    {
        display: none !important;
    }
    .navbar-header .collapse,
     .navbar-toggle,.navbar-collapse.collapse.in
    {
        display: block !important;
    }
    .navbar-header,.navbar-nav,.navbar-nav>li
    {
        float: none!important;
    }
    .navbar-right
    {
        background-color: white;
        text-align: center;
        width: 100%;
        z-index: 1;
    }
    .navbar-right li
    {
        display: inline-block;
    }
    #header_text
    {
        font-size: 45px;
    }
    .content_wrapper
    {
        width: 100%;
    }
    .content
    {
        width: 100%;
    }
    .left_column_pic
    {
        display: block;
        height: 209px;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .right_column_words
    {
        float: none;
        margin: auto;
        padding: 0px 30px 0px 30px;
        text-align: center;
        width: 100%;
    }
    .left_column_words
    {
        margin: auto;
        padding: 0px 30px 0px 30px;
        text-align: center;
        width: 100%;
    }
    .right_column_pic
    {
        display: block;
        float: none;
        height: 200px;
        margin: auto;
        text-align: center;
        width: 100%;
    }
    .middle_column_words
    {
        padding: 10px 30px 30px 30px;
    }
}
@media screen and (max-height: 650px)
{
    #header_image
    {
        height: 650px;
    }
    #name
    {
        padding-top: 75px;
    }
}